.app__movieDetails__container {
  display: flex;
  align-items: flex-start;
  margin-left: 14rem;
}
.app__movieDetails {
  padding: 2rem 2rem;
}

.react__player {
  height: 70vh;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.runtime {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.react__player img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.movie__details-contents {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.dot {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: -15px;
}

.genre__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.genre {
  border-radius: 15px;
  padding: 0.5rem 1rem;
  border: 1px solid #ef96ab;
}

.movie__overview {
  max-width: 60%;
  margin-top: 1.5rem;
}

.movie__overview p {
  color: #333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tagline {
  font-size: 1.2rem;
  color: #5a5a5a;
  margin-top: 1rem;
}

.tagline span {
  color: black;
  font-size: 1.1rem;
  font-family: cursive;
}

.status {
  font-size: 1.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
}

.play__btn {
  position: absolute;
}

.play__btn:hover {
  opacity: 0.6;
}
@media screen and (max-width: 1305px) {
  .react__player {
    height: 60vh;
    width: 700px;
  }

  .react__player img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1009px) {
  .react__player {
    height: 500px;
    width: 100%;
  }

  .react__player img {
    height: 100%;
    width: 100%;
  }
  .movie__overview {
    max-width: 100%;
    margin-top: 1.5rem;
  }
}
@media screen and (max-height: 1000px) {
  .app__home {
    height: 100vh;
  }
  .padding-movie {
    padding: 1rem 5%;
  }
}
@media screen and (max-width: 953px) {
  .app__movieDetails__container {
    margin-left: 0rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 720px) {
  .react__player {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .movie__details-contents {
    flex-wrap: wrap;
  }
}
