.app__hero__content {
  max-width: 404px;
  height: 285px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.app__hero {
  padding-left: 5.5%;
  margin-top: 3rem;
}
.app__hero__content h1 {
  color: #fff;
  font-family: DM Sans;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.rating {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: white;
}
.rating p {
  color: #fff;
  font-family: DM Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.imbd__image {
  width: 35px;
  height: 17px;
  object-fit: cover;
}
.tomato__container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tomato__container img {
  width: 16px;
  height: 17px;
  object-fit: cover;
}

.movie__description {
  color: #fff;
  font-family: DM Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 400px;
}

.watch__button {
  display: flex;
  padding: 15px 16px;
  align-items: center;
  gap: 8px;
  width: 150px;
  height: 24px;
  background-color: #be123c;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.app__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}

.app__hero__numbers {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 2rem;
  gap: 0.5rem;
}

.app__hero__numbers p {
  color: rgb(135, 134, 134);
  font-size: 1.1rem;
}

.active {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-left: -8px;
}
.active h6 {
  color: white;
  font-size: 1.1rem;
}
.line {
  width: 20px;
  height: 2px;
  background-color: white;
}

@media screen and (max-height: 1000px) {
  .app__hero {
    padding-left: 2.4%;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .app__hero__content {
    max-width: 100%;
    height: 100%;
  }

  .app__hero {
    padding-left: 1rem;
    margin-top: 3rem;
  }
  .app__hero__content h1 {
    font-size: 2.5rem;
  }
  .app__hero__numbers {
    display: none;
  }

  .rating {
    gap: 1rem;
    flex-wrap: wrap;
  }
  .rating p {
    font-size: 1rem;
  }

  .imbd__image {
    width: 25px;
    height: 13px;
  }

  .movie__description {
    font-size: 1rem;
    width: 100%;
  }

  .app__hero__numbers p {
    font-size: 0.9rem;
  }

  .active h6 {
    color: white;
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .app__hero {
    padding-left: 0.5rem;
  }
  .app__hero__content h1 {
    font-size: 1.3rem;
  }
}
