footer {
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 36px;
}

.app__footer__icons {
  display: flex;
  align-items: center;
  gap: 48px;
}
.app__footer__icons * {
  cursor: pointer;
}
.app__footer__icons *:hover {
  margin-top: -5px;
  transition: 0.3s;
}

.app__footer__links {
  display: flex;
  align-items: center;
  gap: 48px;
}
.app__footer__links * {
  color: var(--gray-900, #33405d);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.app__footer__links *:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.4s;
}
.copyright {
  color: var(--gray-500, #6b7280);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: not-allowed;
}

@media screen and (max-width: 500px) {
  footer {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .app__footer__icons {
    gap: 18px;
  }

  .app__footer__links {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .app__footer__links * {
    font-size: 17px;
  }

  .copyright {
    font-size: 17px;
    font-style: normal;
    width: 100%;
  }
}
